doctype html
head
  title Add Washing Instructions
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // ===============================================================================================
  link(rel='icon' type='image/png' href='images/icons/favicon.ico')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='vendor/bootstrap/css/bootstrap.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='fonts/font-awesome-4.7.0/css/font-awesome.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='fonts/iconic/css/material-design-iconic-font.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='vendor/animate/animate.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='vendor/css-hamburgers/hamburgers.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='vendor/animsition/css/animsition.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='vendor/select2/select2.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='vendor/daterangepicker/daterangepicker.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='css/util.css')
  link(rel='stylesheet' type='text/css' href='css/main.css')
  // ===============================================================================================
  style.
    a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
    }
    a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
    }
    a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
    }
    a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
    }
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand(href='home.html')
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarText' aria-controls='navbarText' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  navbartext.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href='homepage.html') Home Screen
      li.nav-item
        a.nav-link(href='closet.html') Your Closet
      li.nav-item
        a.nav-link(href='available_loads') Available Loads
      li.nav-item
        a.nav-link(href='weather.html') Weather
      li.nav-item
        a.nav-link(href='howto.html') How To
    .form-inline.my-2.my-lg-0
      form(action='/')
        button.btn.btn-outline-light.my-2.my-sm-0(type='submit') Logout
.limiter
  .container-login100(style="background-image: url('images/laun.jpg');")
    .container
      form(action='/add_washing_instructions' method='post')
        br
        br
        #wash_type.row
          label.col-form-label.col-sm-2.pt-0
            b Wash Type
          .col-sm-10
            .form-check
              input#machine_wash.form-check-input(type='radio' name='wash_type' value='machine' onclick='javascript:machine_wash_options();' checked='')
              label.form-check-label(for='undergrad') Machine Wash
            .form-check
              input#graduate.form-check-input(onclick='javascript:machine_wash_options();' type='radio' name='wash_type' value='hand wash')
              label.form-check-label(for='graduate') Hand Wash
            .form-check
              input#undergrad.form-check-input(onclick='javascript:machine_wash_options();' type='radio' name='wash_type' value='dry clean')
              label.form-check-label(for='undergrad') Dry Clean
        br
        #wash_temp.row
          label.col-form-label.col-sm-2.pt-0
            b Wash Temperature
          .col-sm-10
            .form-check
              input#undergrad.form-check-input(onclick='' type='radio' name='wash_temp' value='cold')
              label.form-check-label(for='undergrad') Cold
            .form-check
              input#graduate.form-check-input(onclick='' type='radio' name='wash_temp' value='cool')
              label.form-check-label(for='graduate') Cool
            .form-check
              input#undergrad.form-check-input(onclick='' type='radio' name='wash_temp' value='warm')
              label.form-check-label(for='undergrad') Warm
            .form-check
              input#graduate.form-check-input(onclick='' type='radio' name='wash_temp' value='hot')
              label.form-check-label(for='graduate') Hot
            br
        #wash_cycle.row
          label.col-form-label.col-sm-2.pt-0
            b Wash Cycle
          .col-sm-10
            .form-check
              input#undergrad.form-check-input(onclick='' type='radio' name='wash_cycle' value='normal')
              label.form-check-label(for='undergrad') Normal
            .form-check
              input#graduate.form-check-input(onclick='' type='radio' name='wash_cycle' value='press')
              label.form-check-label(for='graduate') Press
            .form-check
              input#undergrad.form-check-input(onclick='' type='radio' name='wash_cycle' value='delicate')
              label.form-check-label(for='undergrad') Delicate
            br
        #drying_type.row
          label.col-form-label.col-sm-2.pt-0
            b Drying Type
          .col-sm-10
            .form-check
              input#undergrad.form-check-input(onclick='' type='radio' name='drying_type' value='tumble dry' checked='')
              label.form-check-label(for='undergrad') Tumble Dry
            .form-check
              input#graduate.form-check-input(onclick='' type='radio' name='drying_type' value='no tumble')
              label.form-check-label(for='graduate') Do Not Tumble
            .form-check
              input#undergrad.form-check-input(onclick='' type='radio' name='drying_type' value='hang')
              label.form-check-label(for='undergrad') Hang
            .form-check
              input#graduate.form-check-input(onclick='' type='radio' name='drying_type' value='dry flat')
              label.form-check-label(for='graduate') Dry Flat
            .form-check
              input#graduate.form-check-input(onclick='' type='radio' name='drying_type' value='no wring')
              label.form-check-label(for='graduate') Do Not Wring
        br
        #drying_temp.row
          label.col-form-label.col-sm-2.pt-0
            b Drying Temperature
          .col-sm-10
            .form-check
              input#undergrad.form-check-input(onclick='' type='radio' name='drying_temp' value='high' checked='')
              label.form-check-label(for='undergrad') High
            .form-check
              input#graduate.form-check-input(onclick='' type='radio' name='drying_temp' value='medium')
              label.form-check-label(for='graduate') Medium
            .form-check
              input#undergrad.form-check-input(onclick='' type='radio' name='drying_temp' value='low')
              label.form-check-label(for='undergrad') Low
            .form-check
              input#undergrad.form-check-input(onclick='' type='radio' name='drying_temp' value='air')
              label.form-check-label(for='undergrad') Air
        br
        #bleach.row
          label.col-form-label.col-sm-2.pt-0
            b Bleach
          .col-sm-10
            .form-check
              input#undergrad.form-check-input(onclick='' type='radio' name='bleach' value='bleach' checked='')
              label.form-check-label(for='undergrad') Bleach
            .form-check
              input#graduate.form-check-input(onclick='' type='radio' name='bleach' value='non chlorine')
              label.form-check-label(for='graduate') Non-Chlorine Bleach
            .form-check
              input#undergrad.form-check-input(onclick='' type='radio' name='bleach' value='no bleach')
              label.form-check-label(for='undergrad') No Bleach
        br
        #iron.row
          label.col-form-label.col-sm-2.pt-0
            b Iron
          .col-sm-10
            .form-check
              input#undergrad.form-check-input(onclick='' type='radio' name='iron' value='high' checked='')
              label.form-check-label(for='undergrad') Iron High Heat
            .form-check
              input#graduate.form-check-input(onclick='' type='radio' name='iron' value='medium')
              label.form-check-label(for='graduate') Iron Medium Heat
            .form-check
              input#undergrad.form-check-input(onclick='' type='radio' name='iron' value='low')
              label.form-check-label(for='undergrad') Iron Low Heat
            .form-check
              input#graduate.form-check-input(onclick='' type='radio' name='iron' value='no steam')
              label.form-check-label(for='graduate') Iron No Steam
            .form-check
              input#graduate.form-check-input(onclick='' type='radio' name='iron' value='no iron')
              label.form-check-label(for='graduate') Do Not Iron
        br
        input.btn.btn-primary.btn-block(type='submit' value='submit')
      br
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js' integrity='sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js' integrity='sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k' crossorigin='anonymous')
    script(src='../resources/js/my_scripts.js')
